<!DOCTYPE html>
<html>

<head>

  <title>Haggle</title>
</head>

<body>

  <div class="wrapper">

    <br><br>
    <center><img src="/images/logo.png" id="logo"> </center>

    <br><br>

    <form class="searchForm" action="/items/search" method="post">
      <div class="form-group">
        <label class="control-label" id="navLabel" for="inputDefault"> What are you looking for?</label>
        <center> <input type="text" class="form-control animate" id="inputDefault" name = "name" placeholder="Search">
      </div>
      </center>


      <center>

        <button class="btn btn-primary btn-lg" type="submit" id="haggleButton" style="background-color:#BD321F;">
          Get Haggling!
        </button>
      </center>
    </form>
  </div>

</body>


</html>
