<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">

  <link rel="shortcut icon" href="/images/favicon.png" type="image/x-icon">
  <link rel="icon" href="/images/favicon.png" type="image/x-icon">


  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <link href="https://fonts.googleapis.com/css?family=Work+Sans" rel="stylesheet">

  <link href="/style.css" rel="stylesheet" type="text/css">

</head>

<body>
  <nav class="navbar navbar-default">
    <div class="overlay-container">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" id="title" href="/">Home</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li><a href="/user" id="navStuff">Profile
              </a>
            </li>
            </li>
          </ul>

          <form class="navbar-form navbar-left" role="search">
          </form>

          <ul class="nav navbar-nav navbar-right">
            <li><a id="footStuff" href="/user/login">Log In</a></li>
            <li><a id="footStuff" href="/user/new">Sign Up</a></li>
          </ul>
        </div>
  </nav>
  </div>
  </div>

  <footer class="footer" style="background-color:#EA9E8D; border:none;">©Haggle 2017</footer>

  <%- body %>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


    <script type="text/javascript">
      $.fn.extend({
        animateCss: function(animationName) {
          var animationEnd = 'webkitAnimationEnd mozAnimationEnd MSAnimationEnd oanimationend animationend';
          this.addClass('animated ' + animationName).one(animationEnd, function() {
            $(this).removeClass('animated ' + animationName);
          });
          return this;
        }
      });

      $(function() {
        $('#inputDefault').hover(function() {
          $('#navLabel').css('opacity', '1');
          $('#navLabel').animateCss('fadeInUp');

        }, function() {

          $('#navLabel').css({
            transition: 'all 0.5s ease-out',
            opacity: '0'
          });

        })

      });



      $('.wrapper').css('display', 'none');


      $('.wrapper').fadeIn(700);


      $('.link').click(function() {

        event.preventDefault();

        newLocation = this.href;
        $('.wrapper').fadeOut(700);


      });

      function newpage() {

        window.location = newLocation;


      }


    </script>

</body>



</html>
